[Desktop Entry]
Type=Application
Name=PlotJuggler
Exec=plotjuggler
Icon=plotjuggler-icon
Comment=Visualize timeseries
Terminal=false
Categories=Development;
Name[en_US]=PlotJuggler
