Source: ros-melodic-plotjuggler
Section: misc
Priority: extra
Maintainer: Davide Faconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), binutils-dev, qtbase5-dev, qtdeclarative5-dev, qtmultimedia5-dev, ros-melodic-catkin, ros-melodic-diagnostic-msgs, ros-melodic-nav-msgs, ros-melodic-ros-type-introspection, ros-melodic-rosbag, ros-melodic-rosbag-storage, ros-melodic-roscpp, ros-melodic-roscpp-serialization, ros-melodic-rostime, ros-melodic-tf, ros-melodic-topic-tools
Homepage: https://github.com/facontidavide/PlotJuggler
Standards-Version: 3.9.2

Package: ros-melodic-plotjuggler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, binutils-dev, qtbase5-dev, qtdeclarative5-dev, qtmultimedia5-dev, ros-melodic-diagnostic-msgs, ros-melodic-nav-msgs, ros-melodic-ros-type-introspection, ros-melodic-rosbag, ros-melodic-rosbag-storage, ros-melodic-roscpp, ros-melodic-roscpp-serialization, ros-melodic-rostime, ros-melodic-tf, ros-melodic-topic-tools
Description: PlotJuggler: juggle with data
